/* style untuk carousel */
.carousel-item{
    height: 500px;
}
.carousel-item img{
    margin-top: -100px;
}

h1{
    color: #2ee1ee;
}

/* css bagian servis */
.servis .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem,1fr));
    gap: 1,5rem;
}
.servis .box-container .box{
    padding: 1.5rem 3rem;
    margin: auto;
    text-align: center;
    background: #2ee1ee;
    box-sizing: border-box;

}
.servis .box-container .box:hover{
    background: black;
}

.servis .box-container .box img{
    height: 6rem;
}

.servis .box-container .box h3{
    color: white;
    font-size: 1.7rem;
    padding-top: 1rem;
}

.heading-title{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3rem;
    text-transform: uppercase;
    color: #324041;
}

.keterangan{
    display: flex;
    height: auto;
    font-size: 25px;
    padding: 20px;
    padding-top: 70px;
    padding-right: 3em;
}

.img1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40%;
}

.img1 img{
    width: 90%;
}

.deskripsi{
    justify-content: none;
    align-items: none;
    display: flex;
    flex-direction: column;
    padding-left: 1.5em;
}

.btn{
    justify-items: right;
    background-color: #2ee1ee;
    color: #fff;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    transition: .4s;
}
.btn:hover{
    background-color: transparent;
    border: 2px solid #2ee1ee;
    cursor: pointer;
}

/* css bagian destination */
.btn2{
    justify-items: center;
    background-color: #2ee1ee;
    color: #fff;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.btn2:hover{
    background-color: transparent;
    border: 2px solid #2ee1ee;
    cursor: pointer;
}






/* css untuk footer */
.footer{
    background: url(../gambar/footer-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed

}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
    gap: 0,5rem;
}
.footer .box-container .box h3 {
    color: #c2bbf0;
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.footer .box-container .box a {
    color: #c2bbf0;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    display: block;
}
.footer .box-container .box a i {
    color: #c2bbf0;
    padding-right: .5rem;
    transition: .2s linear;

}

.footer .box-container .box a:hover i {
    padding-right: 2rem;

}



